<div class="inner">
	<div class="footer">
		<div class="foot-list">
			<ul>
				<li><a href="javascript:;">关于大朴</a><span>|</span></li>
				<li><a href="javascript:;">帮助中心</a><span>|</span></li>
				<li><a href="javascript:;">联系我们</a><span>|</span></li>
				<li><a href="javascript:;">手机大朴</a></li>
			</ul>
		</div>
		<p>Copyright © 2013-2018 dapu.com 北京大朴至向家居设计有限公司  京ICP备12027522号 京ICP证130030号</p>
		<div class="foot-num">
			<a href="javascript:;">
				<img src="../img/dapu_icon-police.png" alt="网备号"/>
				<p>京公网安备 11010502030202号</p>
			</a>
		</div>
	</div>	
</div>