<div class="inner">
	<div class="title">
		<div class="logo">
			<h1>
				<a href="/"><img src="../img/dapu_homelogo.png" alt="大朴网" /></a>
			</h1>
		</div>
		<form class="search">
			<input type="text" placeholder="想要买什么？"/><a href="javascript:;"></a>
		</form>
		<div class="cart">
			<a href="/html/cart.html"></a><span>0</span>
		</div>
		<div class="login"><a href="/html/login.html" id="user">登录</a><span>|</span><a href="/html/register.html" id="exit">注册</a></div>
	</div>
	<nav>
		<div class="nav-one clearfix">
			<ul>
				<li><a href="/">首页</a><span></span></li>
				<li><a href="/html/list.html?id=1">卧室用品</a><span></span></li>
				<li><a href="/html/list.html?id=2">冠军毛巾</a><span></span></li>
				<li><a href="/html/list.html?id=3">袜子拖鞋</a><span></span></li>
				<li><a href="/html/list.html?id=4">服饰</a><span></span></li>
				<li><a href="/html/list.html?id=5">清洁日用</a><span></span></li>
				<li><a href="/html/list.html?id=6">贴身衣物</a><span></span></li>
				<li><a href="/html/list.html?id=7">婴童用品</a><span></span></li>
				<li><a href="/html/list.html?id=8">包装/周边</a><span></span></li>
				<li><a href="javascript:;">渠道客户</a><span></span></li>
				<li><a href="javascript:;">关于大朴</a></li>
			</ul>
		</div>	
		<div class="nav-box box-one">
			<ul class="nav-two">
				<li><a href="/html/list.html?id=11" >床品件套</a></li>
				<li><a href="/html/list.html?id=12" >被子枕头</a></li>
				<li><a href="/html/list.html?id=13" >夏凉床品</a></li>
				<li><a href="/html/list.html?id=14" >智能家居</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="/html/list.html?id=111">花鸟件套</a></li>
					<li><a href="/html/list.html?id=112">婚庆件套</a></li>
					<li><a href="/html/list.html?id=113">四件套/三件套</a></li>
					<li><a href="/html/list.html?id=114">床单/床笠</a></li>
					<li><a href="/html/list.html?id=115">枕巾/枕套</a></li>
					<li><a href="/html/list.html?id=116">被罩</a></li>
					<li><a href="/html/list.html?id=117">靠垫/靠垫套</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=121">被芯</a></li>
					<li><a href="/html/list.html?id=122">枕头</a></li>
					<li><a href="/html/list.html?id=123">床垫</a></li>
					<li><a href="/html/list.html?id=124">夏凉被/毯子</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=131">老粗布系列</a></li>
					<li><a href="/html/list.html?id=132">亚麻系列</a></li>
					<li><a href="/html/list.html?id=133">蔺草席</a></li>
					<li><a href="/html/list.html?id=134">蚊帐</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=141">止鼾枕</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-two">
			<ul class="nav-two">
				<li><a href="/html/list.html?id=21" >床品件套</a></li>
				<li><a href="/html/list.html?id=22" >被子枕头</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="/html/list.html?id=211">花鸟件套</a></li>
					<li><a href="/html/list.html?id=212">婚庆件套</a></li>
					<li><a href="/html/list.html?id=213">四件套/三件套</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=222">被芯</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-three">
			<ul class="nav-two">
				<li><a href="/html/list.html?id=31" >女士袜子</a></li>
				<li><a href="/html/list.html?id=32" >男士袜子</a></li>
				<li><a href="/html/list.html?id=33" >家居拖鞋</a></li>
				<li><a href="/html/list.html?id=34" >浴室拖鞋</a></li>
				<li><a href="/html/list.html?id=35" >儿童拖鞋</a></li>
			</ul>
		</div>
		<div class="nav-box box-four">
			<ul class="nav-two">
				<li><a href="/html/list.html?id=41" >女装</a></li>
				<li><a href="/html/list.html?id=42" >男装</a></li>
				<li><a href="/html/list.html?id=43" >配饰</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="/html/list.html?id=411">家居服</a></li>
					<li><a href="/html/list.html?id=412">T恤/背心</a></li>
					<li><a href="/html/list.html?id=413">裤子</a></li>
					<li><a href="/html/list.html?id=414">裙子</a></li>
					<li><a href="/html/list.html?id=415">衬衫</a></li>
					<li><a href="/html/list.html?id=416">卫衣/毛衫</a></li>
					<li><a href="/html/list.html?id=417">保暖内衣</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=421">家居服</a></li>
					<li><a href="/html/list.html?id=422">T恤/背心</a></li>
					<li><a href="/html/list.html?id=423">裤子</a></li>
					<li><a href="/html/list.html?id=424">衬衫</a></li>
					<li><a href="/html/list.html?id=425">卫衣/毛衫</a></li>
					<li><a href="/html/list.html?id=426">保暖内衣</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=431">围巾</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-five">
			<ul class="nav-two">
				<li><a href="/html/list.html?id=51" >纸巾</a></li>
				<li><a href="/html/list.html?id=52" >棉签</a></li>
				<li><a href="/html/list.html?id=53" >日常用品</a></li>
				<li><a href="/html/list.html?id=53" >洗衣液</a></li>
			</ul>
		</div>
		<div class="nav-box box-six">
			<ul class="nav-two">
				<li><a href="/html/list.html?id=61" >女士内衣</a></li>
				<li><a href="/html/list.html?id=62" >男士内衣</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="/html/list.html?id=611">内裤</a></li>
					<li><a href="/html/list.html?id=612">文胸</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=621">内裤</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-seven">
			<ul class="nav-two">
				<li><a href="/html/list.html?id=71" >婴童用品</a></li>
				<li><a href="/html/list.html?id=72" >婴童鞋子</a></li>
				<li><a href="/html/list.html?id=73" >婴童洗浴</a></li>
				<li><a href="/html/list.html?id=74" >婴童衣物</a></li>
				<li><a href="/html/list.html?id=75" >亲子系列</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="/html/list.html?id=711">床品件套</a></li>
					<li><a href="/html/list.html?id=712">婴童凉席</a></li>
					<li><a href="/html/list.html?id=713">抱被/毯子/睡袋</a></li>
					<li><a href="/html/list.html?id=714">婴童枕头</a></li>
					<li><a href="/html/list.html?id=715">尿布/隔尿垫</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=721">婴童家居鞋</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=731">浴巾/浴袍</a></li>
					<li><a href="/html/list.html?id=732">儿童方巾</a></li>
					<li><a href="/html/list.html?id=733">儿童毛巾</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=741">婴童套装</a></li>
					<li><a href="/html/list.html?id=742">上衣</a></li>
					<li><a href="/html/list.html?id=743">裤子</a></li>
					<li><a href="/html/list.html?id=744">内裤</a></li>
					<li><a href="/html/list.html?id=745">袜子</a></li>
					<li><a href="/html/list.html?id=746">新生儿礼盒</a></li>
					<li><a href="/html/list.html?id=747">连体衣/套装</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=751">亲子灯</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-eight">
			<ul class="nav-two">
				<li><a href="/html/list.html?id=81" >零钱包</a></li>
				<li><a href="/html/list.html?id=82" >购物包</a></li>
				<li><a href="/html/list.html?id=83" >杂货包</a></li>
				<li><a href="/html/list.html?id=84" >棉仔周边</a></li>
			</ul>
			<div class="nav-three">	
				<ul class="clearfix">
					<li><a href="/html/list.html?id=811">亚麻包/亚麻小件</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="/html/list.html?id=821">棉仔公仔</a></li>
					<li><a href="/html/list.html?id=831">棉仔衍生品</a></li>
				</ul>
			</div>
		</div>	
		<div class="nav-box box-nine">
			<ul class="nav-two">
				<li><a href="javascript:;" >礼品卡</a></li>
				<li><a href="javascript:;" >企业客户</a></li>
				<li><a href="javascript:;" >线下加盟</a></li>
			</ul>
		</div>
	</nav>
</div>