<div class="inner">
	<div class="title">
		<div class="logo">
			<h1>
				<a href="/"><img src="../img/dapu_homelogo.png" alt="大朴网" /></a>
			</h1>
		</div>
		<form class="search">
			<input type="text" placeholder="想要买什么？"/><a href="javascript:;"></a>
		</form>
		<div class="cart">
			<a href="javascript:;"></a><span>0</span>
		</div>
		<div class="login"><a href="/html/login.html" id="user">登录</a><span>|</span><a href="/html/register.html" id="exit">注册</a></div>
	</div>
	<nav>
		<div class="nav-one clearfix">
			<ul>
				<li><a href="/">首页</a><span></span></li>
				<li><a href="">卧室用品</a><span></span></li>
				<li><a href="">冠军毛巾</a><span></span></li>
				<li><a href="">袜子拖鞋</a><span></span></li>
				<li><a href="">服饰</a><span></span></li>
				<li><a href="">清洁日用</a><span></span></li>
				<li><a href="">贴身衣物</a><span></span></li>
				<li><a href="">婴童用品</a><span></span></li>
				<li><a href="">包装/周边</a><span></span></li>
				<li><a href="">渠道客户</a><span></span></li>
				<li><a href="">关于大朴</a></li>
			</ul>
		</div>	
		<div class="nav-box box-one">
			<ul class="nav-two">
				<li><a href="javascript:;" >床品件套</a></li>
				<li><a href="javascript:;" >被子枕头</a></li>
				<li><a href="javascript:;" >夏凉床品</a></li>
				<li><a href="javascript:;" >智能家居</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="javascript:;">花鸟件套</a></li>
					<li><a href="javascript:;">婚庆件套</a></li>
					<li><a href="javascript:;">四件套/三件套</a></li>
					<li><a href="javascript:;">床单/床笠</a></li>
					<li><a href="javascript:;">枕巾/枕套</a></li>
					<li><a href="javascript:;">被罩</a></li>
					<li><a href="javascript:;">靠垫/靠垫套</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">被芯</a></li>
					<li><a href="javascript:;">枕头</a></li>
					<li><a href="javascript:;">床垫</a></li>
					<li><a href="javascript:;">夏凉被/毯子</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">老粗布系列</a></li>
					<li><a href="javascript:;">亚麻系列</a></li>
					<li><a href="javascript:;">蔺草席</a></li>
					<li><a href="javascript:;">蚊帐</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">止鼾枕</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-two">
			<ul class="nav-two">
				<li><a href="javascript:;" >床品件套</a></li>
				<li><a href="javascript:;" >被子枕头</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="javascript:;">花鸟件套</a></li>
					<li><a href="javascript:;">婚庆件套</a></li>
					<li><a href="javascript:;">四件套/三件套</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">被芯</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-three">
			<ul class="nav-two">
				<li><a href="javascript:;" >女士袜子</a></li>
				<li><a href="javascript:;" >男士袜子</a></li>
				<li><a href="javascript:;" >家居拖鞋</a></li>
				<li><a href="javascript:;" >浴室拖鞋</a></li>
				<li><a href="javascript:;" >儿童拖鞋</a></li>
			</ul>
		</div>
		<div class="nav-box box-four">
			<ul class="nav-two">
				<li><a href="javascript:;" >女装</a></li>
				<li><a href="javascript:;" >男装</a></li>
				<li><a href="javascript:;" >配饰</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="javascript:;">家居服</a></li>
					<li><a href="javascript:;">T恤/背心</a></li>
					<li><a href="javascript:;">裤子</a></li>
					<li><a href="javascript:;">裙子</a></li>
					<li><a href="javascript:;">衬衫</a></li>
					<li><a href="javascript:;">卫衣/毛衫</a></li>
					<li><a href="javascript:;">保暖内衣</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">家居服</a></li>
					<li><a href="javascript:;">T恤/背心</a></li>
					<li><a href="javascript:;">裤子</a></li>
					<li><a href="javascript:;">衬衫</a></li>
					<li><a href="javascript:;">卫衣/毛衫</a></li>
					<li><a href="javascript:;">保暖内衣</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">围巾</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-five">
			<ul class="nav-two">
				<li><a href="javascript:;" >纸巾</a></li>
				<li><a href="javascript:;" >棉签</a></li>
				<li><a href="javascript:;" >日常用品</a></li>
				<li><a href="javascript:;" >洗衣液</a></li>
			</ul>
		</div>
		<div class="nav-box box-six">
			<ul class="nav-two">
				<li><a href="javascript:;" >女士内衣</a></li>
				<li><a href="javascript:;" >男士内衣</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="javascript:;">内裤</a></li>
					<li><a href="javascript:;">文胸</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">内裤</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-seven">
			<ul class="nav-two">
				<li><a href="javascript:;" >婴童用品</a></li>
				<li><a href="javascript:;" >婴童鞋子</a></li>
				<li><a href="javascript:;" >婴童洗浴</a></li>
				<li><a href="javascript:;" >婴童衣物</a></li>
				<li><a href="javascript:;" >亲子系列</a></li>
			</ul>
			<div class="nav-three">
				<ul class="clearfix">
					<li><a href="javascript:;">床品件套</a></li>
					<li><a href="javascript:;">婴童凉席</a></li>
					<li><a href="javascript:;">抱被/毯子/睡袋</a></li>
					<li><a href="javascript:;">婴童枕头</a></li>
					<li><a href="javascript:;">尿布/隔尿垫</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">婴童家居鞋</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">浴巾/浴袍</a></li>
					<li><a href="javascript:;">儿童方巾</a></li>
					<li><a href="javascript:;">儿童毛巾</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">婴童套装</a></li>
					<li><a href="javascript:;">上衣</a></li>
					<li><a href="javascript:;">裤子</a></li>
					<li><a href="javascript:;">内裤</a></li>
					<li><a href="javascript:;">袜子</a></li>
					<li><a href="javascript:;">新生儿礼盒</a></li>
					<li><a href="javascript:;">连体衣/套装</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">亲子灯</a></li>
				</ul>
			</div>	
		</div>
		<div class="nav-box box-eight">
			<ul class="nav-two">
				<li><a href="javascript:;" >零钱包</a></li>
				<li><a href="javascript:;" >购物包</a></li>
				<li><a href="javascript:;" >杂货包</a></li>
				<li><a href="javascript:;" >棉仔周边</a></li>
			</ul>
			<div class="nav-three">	
				<ul class="clearfix">
					<li><a href="javascript:;">亚麻包/亚麻小件</a></li>
				</ul>
				<ul class="clearfix">
					<li><a href="javascript:;">棉仔公仔</a></li>
					<li><a href="javascript:;">棉仔衍生品</a></li>
				</ul>
			</div>
		</div>	
		<div class="nav-box box-nine">
			<ul class="nav-two">
				<li><a href="javascript:;" >礼品卡</a></li>
				<li><a href="javascript:;" >企业客户</a></li>
				<li><a href="javascript:;" >线下加盟</a></li>
			</ul>
		</div>
	</nav>
</div>