<ul>
	<script type="text/html" id="list-template">
		{{each list item i}}
		<li>
			<div class="itemBigImg">
				<a href="/html/detail.html?id={{item.id}}">
					<img src="{{item.img}}" alt="" class="item-img"/>
				</a>
			</div>
			<div class="smallPicBox">
				<a href="/html/detail.html?id={{item.id}}">
					<img src="{{item.img}}" alt="" class="itemSmallImg"/>					
				</a>
			</div>
			<div class="goodtext">
				<span>{{item.price}}</span>
				<a href="/html/detail.html?id={{item.id}}">{{item.title}}</a>
			</div>
		</li>
		{{/each}}
	</script>
</ul>