@import "./component/style.scss";
@import "./component/header.scss";
@import "./component/footer.scss";

.cart-main{
    width: 100%;
    padding-top: 10px;
    background: #efefef;
    .myCart{
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 15px;
    }
}
.emptyCart{
    background: #FFFFFF;
    min-height: 500px;
    display: none;
    text-align: center;
    span{
        font-size: 30px;
        line-height: 200px;
        text-align: center;
        color: #212529;
    }
    p{
        height: 48px;
        text-align: center;
        a{
            display: block;
            width: 100px;
            height: 30px;
            line-height: 30px;
            background: #23272b;
            border-color: #1d2124;
            color: #FFFFFF;
            padding: 8px 16px;
            border: 1px solid transparent;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            font-size: 18px;
            border-radius: 5px;
            margin: 0 auto;
        }
    }
}
.notEmpty{
    width: 100%;
    min-height: 230px;
    background: #FFFFFF;
    padding: 15px 15px;
    margin-bottom: 15px;
    display: none;
    .cartTitle{
        text-align: right;
        strong{
            float: left;
            line-height: 1.5;
            font-size: 16px;
            font-weight: bolder;
            color: #6b6b6b;
        }
        a{
           color: #000000;
           display: inline-block; 
           text-align: center;
           border: 1px solid transparent;
           font-size: 16px;
           padding: 6px 12px;
        }
        a:hover{
            color: #0056b3;
        }
    }
    .cart-index{
        table{
            border: 1px solid #dee2e6;
            width: 100%;
            margin-bottom: 16px;
            border-collapse: collapse;
            color: #212529;
            font-size: 16px;
            line-height: 1.5;
            th{
                border: 1px solid #dee2e6;
                vertical-align: top;
                padding: 14px;
                width: 10%;
            }
            th:nth-child(1){
                width: 5%;
            }
            th:nth-child(2){
                width: 40%;
            }
            th:nth-child(4){
                width: 15%;
            }
            td{
                border: 1px solid #dee2e6;
                padding: 14px;
                vertical-align: top;
            }
            .g-item{
                .g-checkbox{
                    input{
                        width: 13px;
                        height: 13px;
                    }
                }
                .container{
                    max-width: 1140px;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    .row{
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: -15px;
                        margin-left: -15px;
                        .col-3{
                            flex: 0 0 20%;
                            max-width: 25%;
                            position: relative;
                            width: 100%;
                            min-height: 1px;
                            padding-right: 15px;
                            padding-left: 15px;
                            img{
                                vertical-align: middle;
                                border-style: none;
                                width: 80px;
                                height: 80px;
                            }
                        }
                        .col-9{
                            flex: 0 0 60%;
                            max-width: 75%;
                            position: relative;
                            width: 100%;
                            min-height: 1px;
                            padding-right: 15px;
                            padding-left: 15px;
                            a{
                               color: #000000;
                               font-size: 16px;
                               line-height: 1.5;
                            }
                            p{
                              margin-bottom: 16px;
                              color: #000000;
                              font-size: 16px;
                              line-height: 1.5;  
                            }
                        }
                    }
                }
                .g-edit{
                    .input-group{
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: stretch;
                        width: 100%;
                        .input-group-prepend{
                            margin-right: -1px;
                            display: flex;
                            button{
                                border-radius: 4px 0 0 4px;
                            }
                        }
                        .input-group-append{
                            margin-left: -1px;
                            display: flex;
                            button{
                                border-radius:0 4px 4px 0;
                            }
                        }
                        button{
                            position: relative;
                            z-index: 2;
                            color: #6c757d;
                            border-color: #6c757d;
                            display: inline-block;
                            border: 1px solid ;
                            font-size: 16px;
                            padding: 6px 12px;
                            line-height: 1.5;      
                            background: #FFFFFF;
                        }
                        button:hover{
                            border-color: #6c757d;
                            background-color: #6c757d;
                            color: #FFFFFF;
                        }
                        input{
                            position: relative;
                            flex: 1 1 auto;
                            width: 1%;
                            display: inline-block;
                            padding-left: 15px;
                        }
                        
                    }
                }
            }
            .g-btn{
                a{
                    color: #FFFFFF;
                    background-color: #dc3545;
                    border-color: #dc3545; 
                    display: inline-block;
                    border: 1px solid ;
                    font-size: 16px;
                    padding: 6px 12px;
                    line-height: 1.5;  
                    border-radius: 5px;
                }
            }
        }
    }
}
.totalPrice{
    display: none;
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    .moneyPay{
        div{
            text-align: right;
            font-size: 16px;
            color: #212529;
            p{
               margin-bottom: 16px; 
            }
            p:nth-child(2){
                color: red;
            }
        }
    }
    .goShop{
        color: #FFFFFF;
        background-color: #6c757d;
        border-color: #6c757d;
        display: inline-block;
        border: 1px solid ;
        font-size: 16px;
        padding: 6px 12px;
        line-height: 1.5;  
        border-radius: 5px;
    }
    .goPay{
        color: #FFFFFF;
        background-color: #c82333;
        border-color: #c82333;
        display: inline-block;
        border: 1px solid ;
        font-size: 16px;
        padding: 6px 12px;
        line-height: 1.5;  
        border-radius: 5px;
    }
}
.ac{
    display: block;
}