.footer{height: 76px;text-align: center;}
.foot-list{height: 18px;}
.foot-list ul{width: 235px;margin: 0 auto;}
.foot-list a{color: #6B6B6B;}
.foot-list a:hover{color: #7F5B42;text-decoration: underline;}
.foot-list span{font-size: 12px;margin: 0 5px;color: #6B6B6B;}
.foot-list ul li{float: left;}
.footer p{font-size: 12px;color: #6B6B6B;text-align: center;margin-top: 12px;}
.foot-num{margin-top: 12px;}
.foot-num a{display: inline-block;width: 193px;height: 20px;}
.foot-num img{float: left;}
.foot-num p{float: left;margin-top: 0;color: #939393;}