*{margin: 0;padding: 0;}
html,body{width: 100%;color: #6B6B6B;}
a{text-decoration: none;font-size: 12px;}
ul{list-style: none;}
.clearfix:after {content: ".";display: block;height: 0;font-size: 0;clear: both;visibility: hidden;} 
.clearfix {zoom: 1;}






